@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: 'Visia Pro';
  src: url("/fonts/VisiaPro-Regular.ttf") format("truetype");
}

.dashed_bg {
    background-color: #ffffff;
opacity: 1;
background: repeating-linear-gradient( -45deg, #91b5ff, #91b5ff 2px, #ffffff 2px, #ffffff 10px );
}
@layer components {
  .mermaid .error-icon {
    fill: #552222;
  }

  .mermaid .error-text {
    fill: #552222;
    stroke: #552222;
  }

  .mermaid .edge-thickness-normal {
    stroke-width: 2px;
  }

  .mermaid .edge-thickness-thick {
    stroke-width: 3.5px;
  }

  .mermaid .edge-pattern-solid {
    stroke-dasharray: 0;
  }

  .mermaid .edge-pattern-dashed {
    stroke-dasharray: 3;
  }

  .mermaid .edge-pattern-dotted {
    stroke-dasharray: 2;
  }

  .mermaid .marker {
    @apply fill-gray-700;
    @apply stroke-gray-700;
  }

  .mermaid .marker.cross {
    stroke: #333333;
  }

  .mermaid .label {
    color: #333;
  }

  .mermaid .cluster-label text {
    fill: #333;
  }

  .mermaid .cluster-label span {
    color: #333;
  }

  .mermaid .label text,
  .mermaid span {
    @apply text-white/80;
  }

  .mermaid .node rect,
  .mermaid .node circle,
  .mermaid .node ellipse,
  .mermaid .node polygon,
  .mermaid .node path {
    @apply fill-primaryb-100;
    @apply stroke-primaryb-100;
    stroke-width: 1px;
  }

  .mermaid .node .label {
    text-align: center;
  }

  .mermaid .node.clickable {
    cursor: pointer;
  }

  .mermaid .selectednode rect,
  .mermaid .selectednode circle,
  .mermaid .selectednode ellipse,
  .mermaid .selectednode polygon,
  .mermaid .selectednode path {
    @apply stroke-primaryr;
    stroke-width: 2px;
  }

  .mermaid .arrowheadPath {
    fill: #333333;
  }

  .mermaid .edgePath .path {
    stroke: #333333;
    stroke-width: 2.0px;
  }

  .mermaid .flowchart-link {
    @apply stroke-gray-700;
    fill: none;
  }

  .mermaid .edgeLabel {
    background-color: #e8e8e8;
    text-align: center;
  }

  .mermaid .edgeLabel rect {
    opacity: 0.5;
    background-color: #e8e8e8;
    fill: #e8e8e8;
  }

  .mermaid .cluster rect {
    fill: #ffffde;
    stroke: #aaaa33;
    stroke-width: 1px;
  }

  .mermaid .cluster text {
    fill: #333;
  }

  .mermaid .cluster span {
    color: #333;
  }

  .mermaid div.mermaidTooltip {
    position: absolute;
    text-align: center;
    max-width: 200px;
    padding: 2px;
    font-family: "trebuchet ms", verdana, arial, sans-serif;
    font-size: 12px;
    background: hsl(80, 100%, 96.2745098039%);
    border: 1px solid #aaaa33;
    border-radius: 2px;
    pointer-events: none;
    z-index: 100;
  }
}

